<!DOCTYPE ejs>
<html>
<head>
<meta charset="utf-8">
<title>Guestbook</title>
<meta charset="utf-8"><meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/gbapps.css">
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
    <body style="background-color:#6a9bc3;">
<body id="body1">
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Welcome my page</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
         
		     <form class="navbar-form navbar-center" role="form">
            <button type="submit"  class="btn btn-info" formaction="index.html">Home</button>
            <button type="submit" class="btn btn-info" formaction="2nd page restnr menu.html">YourChoice</button>
             <button type="submit" class="btn btn-info" formaction="3rd page contact.html">Contacts</button>
                 <button type="submit" class="btn btn-info" formaction="http://127.0.0.1:8081/index">guestbook</button>
          </form>
		  
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

</header>
<br><br><br><br>
<h1>
Kamal Guestbook
<a href="http://127.0.0.1:8081/new-entry" class="btn btn-info pull-right">
    <center>Write in the guestbook</center>
</a>
</h1>